@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar {
  position: sticky;
  top: 0;
  z-index: 999999;
}
.navbar2 {
  position: sticky;
  top: 0;
  z-index: 99;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  border-radius: 10px;
}